<div class="login_page">
    <div class="login-wrapper">
        <div id="forgotpass" class="login loginpage col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
            <h1><a href="#" title="Login Page" tabindex="-1">Welcome to Smartfill!</a></h1>

            <form name="form" class="form-validation" ng-submit="resetPassword()">

                <div class="text-danger text-center message" ng-show="authError">
                    {{authError}}
                </div>

                <div class="alert alert-success" ng-show="successMessage">
                    {{successMessage}}
                </div>

                <div ng-hide="successMessage">
                    <p>
                        <label for="user_login">Email<br />
                            <input type="email" name="email" id="user_login" class="input" ng-model="user.email" required/>
                        </label>
                    </p>
                    <p class="submit">
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-accent btn-block">Send Reset Link</button>
                    </p>
                </div>

            </form>

        </div>
    </div>
</div>