<div class="login_page">
    <div class="login-wrapper">
        <div id="resetpass" class="login loginpage col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
            <h1><a href="#" title="Login Page" tabindex="-1">Smartfill</a></h1>

            <form name="form" class="form-validation" ng-submit="updatePassword()">

                <div class="text-danger text-center message" ng-show="authError">
                    {{authError}}
                </div>

                <div class="alert alert-success" ng-show="successMessage">
                    {{successMessage}} <a ui-sref="access.login">Click here to log in.</a>
                </div>

                <div ng-hide="successMessage">
                    <h3>Set a New Password</h3>
                    <p>
                        <label for="user_password">New Password<br />
                            <input type="password" name="password" id="user_password" class="input" ng-model="user.password" required/>
                        </label>
                    </p>
                    <p class="submit">
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-accent btn-block">Save New Password</button>
                    </p>
                </div>

            </form>
        </div>
    </div>
</div>