<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Add a new store</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title" align="center"> </h3>
    </div>
    <div class="panel-body">
        <!-- Image backdrop -->
        <div class="image-overlay-backdrop"
             ng-show="(stores | filter:{enlarged: true}).length > 0"
             ng-click="stores.forEach(function(s){ s.enlarged = false; })">
        </div>
        <!-- Stores Table -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Store Name</th>
                    <th>Location</th>
                    <th>Contact Name</th>
                    <th>Contact Number</th>
                    <th>Currency</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="loading">
                    <td colspan="7" class="text-center"><i class="fa fa-spinner fa-spin"></i> Loading stores...</td>
                </tr>
                <tr ng-if="!loading && stores.length === 0">
                    <td colspan="7" class="text-center">No stores found.</td>
                </tr>
                <tr ng-repeat="s in stores">
                    <td>
                        <img ng-if="s.image_url"
                             ng-src="{{s.image_url}}" alt="{{s.store_name}}"
                             class="img-thumbnail store-image"
                             ng-class="{'enlarged': s.enlarged}"
                             ng-click="$event.stopPropagation(); s.enlarged = !s.enlarged">
                    </td>
                    <td>{{s.store_name}}</td>
                    <td>{{s.location}}</td>
                    <td>{{s.contact_name}}</td>
                    <td>{{s.contact_number}}</td>
                    <td>{{s.currency}}</td>
                    <td>
                        <button class="btn btn-sm btn-info" ng-click="editStore(s.id)">Edit</button>
                        <button class="btn btn-sm btn-danger" ng-click="deleteStore(s.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-options" align="right">
            <a ui-sref="app.managestores.add" class="btn btn-primary btn-sm">
                <i class="fa fa-plus"></i> Add Another Store
            </a>
        </div>
</div>
</section>
    </div>